<header>
  <a href="./index.html"  class="logo">
    <img
      class="logo-icon"
      src="../assets/svg/hand-holding-heart-solid.svg"
      alt="logo"
    />
    <p class="site-name">
      <span class="site-title">Mon Petit</span>
      <strong class="site-subtitle">Geste</strong>
    </p>
  </a>

  <nav class="nav" aria-label="Navigation principale">
    <ul>
      <li><a href="./matin.html">Le matin</a></li>
      <li><a href="./apres-midi.html">L'après-midi</a></li>
      <li><a href="./soir.html">Le soir</a></li>
    </ul>
  </nav>
</header>
