/* @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap'); */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson_Hyperlegible/subset-AtkinsonHyperlegible-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url('../assets/fonts/Atkinson_Hyperlegible/subset-AtkinsonHyperlegible-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

  
:root {
  --color-primary: #005A9C;      /* Bleu accessible */
  --color-secondary: #D6EAF8;    /* Bleu clair (header/footer) */
  --color-white: #FFFFFF;
  --color-black: #000000;

  --font-base: 'Atkinson Hyperlegible', sans-serif;
  --font-bold: 'Atkinson Hyperlegible Bold', sans-serif;

  --text-h1: 2.5rem;   /* 40px */
  --text-h2: 2rem;     /* 32px */
  --text-h3: 1.5rem;   /* 24px */
  --text-h4: 1.25rem;  /* 20px */
  --text-h5: 1.25rem;  /* 20px */
  --text-body: 1rem;   /* 16px */

  --lh-default: 1.5rem; /* 24px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 1rem = 16px */
  line-height: var(--lh-default);
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: var(--text-body);
  line-height: var(--lh-default);
  background-color: var(--color-white);
  color: var(--color-black);
}

h1 {
  font-size: var(--text-h1);
  line-height: var(--lh-default);
  font-weight: 700;
  /* margin-bottom: 1rem; */
}

h2 {
  font-size: var(--text-h2);
  line-height: var(--lh-default);
  font-weight: 700;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: var(--text-h3);
  line-height: var(--lh-default);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h4, h5 {
  font-size: var(--text-h4);
  line-height: var(--lh-default);
  font-weight: 300;
  margin-bottom: 0.5rem;
}

p {
  font-size: var(--text-body);
  line-height: var(--lh-default);
  /* margin-bottom: 1.5rem; */
  /* max-width: 65ch; */
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--color-primary);
  outline-offset: 4px;
}

header {
  background-color: var(--color-secondary);
  color: var(--color-black);
  padding: 2rem;
  border-bottom: 2px solid #005A9C;
}

p + p {
  margin-top: 2rem;
}

body {
  letter-spacing: 0.02em;
  word-spacing: 0.16em;
}


.container {
  margin: 0 auto;
  padding: 0 0rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav ul {
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav a{
  color: #000000;
  font-size: var(--text-h3);

}

/*logo*/
.site-name {
  font-size: var(--text-h3);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.site-subtitle {
  display: inline-block;
  font-weight: bold;
  font-family: var(--font-bold);
  letter-spacing: 0.3rem;
  font-size: var(--text-h2);
  margin-top: 0.25rem;
}

.logo-icon {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 0.5rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer{
  height: 256px;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--color-primary);
  font-size: var(--text-h3);
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding: 0 2rem;
  
}

.footer-lien{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 18px;
  width: 70%;
  height: 140px;
  flex-wrap: wrap;
}

footer a{
  color: var(--color-black);
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

/*logo*/
.site-name {
  font-size: var(--text-h3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-subtitle {
  display: inline-block;
  font-weight: bold;
  font-family: var(--font-bold);
  letter-spacing: 0.3rem;
  font-size: var(--text-h2);
  margin-top: 0.25rem;
}

.logo-icon {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 0.5rem;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  footer {
      flex-direction: column;
      height: 350px;
  }

  .footer-lien{
      width: 100%;
  }
}

/* description_card */
.description_card_border{
  padding: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center
}
.description_card_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

/* section_card */

.section-container {
  background-color: #005A9C;
  color: #FFFFFF;
  width: 100%;
  border-radius: 24px;
  padding: 1rem;
}

.section-icon {
  color: #FFFFFF;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-text {
  width: 100%;
  text-align: center;
}